* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    outline: 0;
}
p {
    line-height: 1.4rem;
    margin: 0.8rem auto;
}
// defined styles
%headingH1 {
    color: #fc5;
    font-family: Audiowide, cursive;
    font-weight: 200;
    font-size: 1.4rem;
}
%BtnYell {
    border-radius: 5px;
    margin-bottom: 0.7rem;
    padding: 0.4rem 1rem;
    background-color: #fc5;
    width: 30%;
    text-align: center;
    transition: 0.3s;
}
%BtnYellHover {
    background-color: #333;
    border: 1px solid #fc5;
    color: #fc5;
    transform: scale(1.2);
}
body {
    font-family: Montserrat;
}
.App {
    @import "./Components/Navbar/navbar.scss";
    @import "./Components/Header/header.scss";
    @import "./Components/Main/mainNav/mainNav.scss";
    @import "./Components/Main/mainComp/guideDefault/guide.scss";
    .bgSection {
        background-image: url("./assets/pics/sp.jpg");
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        color: #f5f5f5;
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        .secondScreenBox {
            background: #00000099;
            border-radius: 0.2rem;
            max-width: 70%;
            padding: 3rem 2rem;
            @import "./Components/Main/mainContent.scss";
        }
    }
    @import "./Components/Footer/footer.scss";
}
// media queries
@media (max-width: 1024px) {
    .App .bgSection .secondScreenBox .celestialBodies {
        display: flex;
        flex-flow: column;
    }
    .App .mainNav .mainNavUl li {
        width: 40%;
    }
    .App .bgSection .secondScreenBox .calculationSection .formOres {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    .App .bgSection .secondScreenBox .calculationSection {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .App .navComp {
        .screenBtn {
            display: block;
            visibility: visible;
        }
        .navLinks {
            display: none;
            visibility: hidden;
        }
    }
    .App .bgSection .secondScreenBox .rulesSection ul {
        li {
            width: 40%;
        }
    }
}
@media (max-width: 520px) {
    html {
        font-size: 8px;
    }
    .header section .headerContent {
        align-items: stretch;
    }
    .App .mainNav .mainNavUl li {
        width: 60%;
    }
    .App .bgSection .secondScreenBox .rulesSection ul {
        justify-content: center;
        li {
            width: 60%;
        }
    }
}
